.addButton {
    height: 75px;
    width: 75px;
    font-size: 25px;
}

.addText {
    font-size: 35px;
}

#toDoTable {
    border: 1px solid;
    width: 100%;
    text-align: center;
    background-color: dodgerblue;
    color: #ffffff;
    font-size: 20px;
}

td {
    border: 1px solid #dddddd;
    padding: 8px;
}

.tableButton {
    width: 100%;
}

button {
    font-size: 20px !important;
}

.scroll-y {
    height: 380px;
    position: relative;
    overflow: auto;
}